* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./images/sea.jpg');
  background-size:100vw 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  margin-top: 2rem;
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

.stats-wrapper {
  margin-top: 2.5rem;
  color: crimson;
  font-size: 1.3rem;
}

.boards-wrapper {
  margin-top: 1rem;
  display: flex;
  min-height: 600px;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.5);
}

.ai-board,
.player-board{
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.ai-board > .cell,
.ai-board > .cell:hover,
.ai-board > .cell.has-ship {
  background-color:rgba(16, 16, 240, 0.18)
}

.cell {
  width: 10%;
  height: 10%;
  border: 0.5px solid black;
  flex: 1 0 10%;
  background: rgb(255, 255, 255, 0.5);
}

.cell.has-ship {
  background-color: blueviolet;
}



.cell.is-hit,
.ai-board > .cell.is-hit:hover {
  background:lightcoral;
}

.cell.has-ship.is-hit,
.ai-board > .cell.has-ship.is-hit:hover {
  background:radial-gradient(red, blueviolet);
}

.ai-board > .cell:hover {
  background: radial-gradient(closest-side, #b60707, #1625ad43  , #1625ad43);;
} ;

.menu {
  padding: 0 4rem;
  align-self: stretch;
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}

button {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  color: purple;
  border-radius: 12px;
  flex:0.5;
}

button:hover {
  transform: scale(1.03);
}





